/*Variaveis*/
:root{
  --branco: #FFF;
  --azul-claro: #DFE3E5;
  --vermelho-forte: #B72E2E;
  --cinza-escuro: #4F4C4C;
  --cinza-claro: #F7F4F4;
  --cinza-medio: #D9D9D9;
      
  --fonte-link: #0084FF;
  --fonte-cinza: #666;
  --borda-cabecalho-mobile: #103D4A;
  --bg-rodape: #333;
  --bg-chamada-mobile: #00161C;
  
  --planos-cartao-start: #56CCF2;
  --planos-cartao-ultra: #B04CD9;
  --planos-cartao-mega: #E33B3B;
  
  --montserrat: 'Montserrat', sans-serif;
  }

  /*Estilo*/
  .aluno-container{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cinza-medio);
  }
  header{
    background-color: var(--cinza-claro);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
  }
  .logo{
    grid-column: 1 / span 1;
  }
  header nav{
    padding: 2em;
    grid-column: 2 / span 1;
    text-align: center;
  }
  header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li{
    font-size: 1.3em;
    float: right;
    margin-right: 1.3em;
  }
  header nav ul li a{
    cursor: pointer;
    color: black; /* Define a cor do texto como preto */
    text-decoration: none; /* Remove a sublinhado padrão do link */
  }
  header nav ul li:hover {
    border-bottom: 2px solid green;
  }
  .user-profile {
    grid-column: 3 / span 1;
    text-align: right;
  }